body {
    width: 100%;
    height: 100vh;
    background-color: black;
}
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;    
    border: 3px solid greenyellow;
    
}
h1 {
    color: blue;
    font-family: 'Major Mono Display', monospace, sans-serif;
    font-size: 48px;    
    letter-spacing: 2px;
    display: flex;
    align-self: center;
}
.presentation {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}
.guests {
    width: 100%;
    height: 300px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.guest-card {
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;    
    justify-content: flex-start;
    border: 1px solid red;

}
.box-top {
    width: 280px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    position: relative;
    
}
.box-bottom {
    width: 280px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    position: relative;
}
.footer {
    width: 100%;
    height: 50px;
}

img {
    display: flex;
}
h2 {
    color: blue;
    font-family: 'Major Mono Display', monospace, sans-serif;
    font-weight: 400px;
    text-align: left;
    line-height: 35px;
}
h3 {
    color: green;
    font-family: 'Major Mono Display', monospace, sans-serif;
    align-self: center;
    
}
p {
    color: green;
    font-family: 'Major Mono Display', monospace, sans-serif;
    font-size: 13px;
    align-self: center; 
}